* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    margin: 5% 10% 0% 10%;
    background-color: #469AC1;
    background-image: linear-gradient(to bottom, #EFF8F1, #469AC1);
    background-repeat: no-repeat;
    background-size: contain, cover;
}

h1, h2 {
    color: #0C3F65;
}
